<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NSThreadAndRunLoopDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>667A10951D4F394700E65694</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>667A10AE1D4F394700E65694</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>667A10B91D4F394700E65694</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
